:root{
    --purple-title: #500483;
    --purple-text: #A72EE3;
    --purple-text-strong: #500483;

    --pink-title: #E064CC;
    --pink-text: #D15AFF;

    --gradient-purple-1: #D15AFF;
    --gradient-purple-2: #A72EE3;

    --gradient-green-1: #4AC34A;
    --gradient-green-2: #005A32;

    --line-1:#100032;
    --line-2: #3C0A6D;
    --line-3: #500483;
    --line-4: #A72EE3;
    --line-5: #D15AFF;

    --yusei: "Yusei Magic", sans-serif;
    --jakarta: "Plus Jakarta Sans", sans-serif;
}

body{
    width: 100%;
    max-width: 3000px;
    height: 100vw;
}