.CommentSection {
    width: 100%;
    //height: 58vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(180deg, var(--gradient-purple-1) 0%, var(--gradient-purple-2) 100%);

    .CommentsText {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;

        div {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            p {
                width: 18.75rem;
                text-align: center;
            }
        }
    }

    .CommentsImg {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .Comments1{
            width: 300px;
            height: 220px;
        }
        .Comments2{
            width: 300px;
            height: 140px;
        }

        img {
            margin: auto 20px;
        }
    }

    .BtnContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 30px;

        a {
            font-family: var(--jakarta);
            color: var(--purple-text);
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;
            align-content: center;

            background: white;
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 14px;

            width: 30%;
            height: 43px;

            &:hover {
                background: rgba(255, 225, 225);
            }
        }
    }

    .Stars {
        width: 70px;
        animation: shake 2s infinite ease-in-out;
    }
}

@keyframes shake {
    0% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

@media only screen and (min-width: 300px) and (max-width: 1100px) {
    .CommentSection {
        height: auto;
        margin: 50px auto;
        padding: 50px auto;
    }

    .CommentsText {
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;

        div {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        p {
            width: 100%;
            text-align: center;
        }
    }

    .CommentsImg {
        flex-direction: column;

        .Stars, .Arrow{
            width: 70px;
            margin: 30px auto;
        }

        .Comments{
            width: 300px;
            height: 220px;
        }
        img {
            margin: 10px 0;
            width: 70%;
        }
    }

    .BtnContainer {
        display: none;
        width: 100%;
        a {
            display: none;
            width: 50%;
        }
    }
}
